# Core functionality - changes here should be rare!
/src/app.py                   @jhonatanmorez
/src/backend/database.py      @jhonatanmorez
/src/backend/routers/auth.py  @jhonatanmorez

# The frontend will need refactored soon to be more object oriented.
/src/static/   @jhonatanmorez
